<style>
    .modal-content{
        width:696px;
    }
    .modal-footer {
        padding: 5px;
        text-align: right;
        border-top: 1px solid #e5e5e5;
    }
    .modal-header {
        padding: 5px;
        border-bottom: 1px solid #e5e5e5;
    }
    fieldset {
        min-width: 0;
        padding: 10px;
        margin: 0;
        border: 0;
    }
    .overSelectq {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    #checkboxesq label {
        display: block;
    }

    #checkboxesq label:hover {
        background-color: #1e90ff;
    }#checkboxesq {
         display: none;
         border: 1px #dadada solid;
     }
    .form-control {
        display: block;
        width: 171px;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }
</style>


<!DOCTYPE html>
<html lang="en">

<body>
<div class="container-fluid">
    <div class="container cus_main_row" >

        <div class="row">
            <h2 class="pos-header-new">
                <div>Marks Submission</div>
            </h2>
        </div>

        <div class="row inner_row_bg">
            <div class="col-md-12 col-sm-12 col-xs-12">

                <div class="panel">
                    <div class="panel-body">
                        <div class="panel-body" style="height: 65px;">
                            <div class="col-md-4 col-lg-3 col-sm-5 col-xs-5">
                                <form class="form-horizontal ng-pristine ng-valid">
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <p class="input-group" style="display: block;">
                                                <input id="search_academic" name="textinput" type="text"
                                                       placeholder="Search" ng-model="searchText" class="form-control input-md"
                                                       ng-keyup="$event.keyCode == 13 ? getPaginatedAssessQuesList(searchText) : null"/>
                                            </p>

                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-9 col-lg-9 col-sm-9 col-xs-7">

                                <div class="form-group">
                                    <div class="col-sm-2">
                                        <button type="button" class="btn btn-primary hi_btn"  ng-click="addMarksSubmission()">Add</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="fixed-table-container">
                        <div class="table_wrapfixed-table-container-inner">
                            <div class="header-background"></div>
                            <table data-toggle="table" data-cache="false" data-height="299" class="hi_table table table-hover table-bordered table-striped table-fixed-header">
                                <thead>
                                <tr>
                                    <th data-field="cntryname">
                                        <div class="th-inner" align="center">Level Name</div></th>
                                    <th data-field="cntryname">
                                        <div class="th-inner" align="center">Class Name</div></th>
                                    <th data-field="cntryname">
                                        <div class="th-inner" align="center">Subject Name</div></th>
                                    <th data-field="edit">
                                        <div class="th-inner" align="center">Actions</div></th>
                                </tr>
                                </thead>
                                <tbody id="parentTable">
                                <tr ng-repeat="marks in marksList|filter:searchText">
                                    <td>{{marks.levelName}}</td>
                                    <td>{{marks.className}}</td>
                                    <td>{{marks.subjectName}}</td>
                                    <td><button type="button" class="btn btn-primary hi_btn"  ng-click="editMarksSub(marks)">Edit</button>
                                      <button type="button" class="btn btn-primary hi_btn"  ng-click="deleteMarksSub(marks)">Delete</button>
                                      </td>
                                    <!--</td>-->
                                </tr>
                                <tr ng-if="searchText!=''&&(marksList|filter:searchText).length==0">
                                    <td colspan="4" style="color: red; font-weight: bold">No Records Found</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12 pagination_">
                        <button type="button" class="btn btn-default hi_btn" ng-class="{'diabled-class': first}"
                                ng-disabled="first"
                                ng-click="getMarksSubList('firstPage')" ng-model="first">First
                        </button>
                        <button type="button" class="btn btn-default hi_btn" ng-class="{'diabled-class': prev}"
                                ng-disabled="prev"
                                ng-click="getMarksSubList('prevPage')" ng-model="prev">Prev
                        </button>
                        <button type="button" class="btn btn-default hi_btn" name="next" ng-disabled="next"
                                ng-click="getMarksSubList('nextPage')" value="next" ng-class="{'diabled-class': next}"
                                ng-model="next">Next
                        </button>
                        <button type="button" class="btn btn-default hi_btn"
                                ng-click="getMarksSubList('lastPage')" ng-class="{'diabled-class': last}" ng-disabled="last"
                                ng-model="last">Last
                        </button>
                    </div>

                </div>
                <div class="modal fade addCustomer" tabindex="-1" id="add_new_marksSubmission_modal" role="dialog"
                     data-backdrop="static"
                     aria-labelledby="mySmallModalLabel">
                    <div class="modal-dialog modal-md">
                        <div class="modal-content checkout">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true" ng-click="removeAssSub()">&times;</span></button>
                                <h4 id="topic-title" class="modal-title">Add Marks Submission</h4>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <form class="form-horizontal" name="form">
                                            <fieldset>
                                                <div class="form-group">
                                                    <label class="col-md-4 col-sm-4 control-label" >Teacher<span style="color:red;">*</span></label>
                                                    <div class="col-md-6 col-sm-6" style="position:relative;">
                                                        <select id="levelId" name="levelId" ng-model="teacher"

                                                                ng-options="employee.employeeId as
											employee.employeeName for employee in employeeList" class="form-control input-md">
                                                            <option value="">Select</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 col-sm-4 control-label">Level<span
                                                            style="color:red;">*</span></label>
                                                    <div class="col-md-6 col-sm-6" style="position:relative;">
                                                        <select id="levelId" name="levelId" ng-model="level"
                                                                ng-change="levelClass(level)"
                                                                ng-options="lev.gradeId as
											lev.gradeName for lev in gradeList" class="form-control input-md">
                                                            <option value="">Select</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 col-sm-4 control-label">Class<span
                                                            style="color:red;">*</span></label>
                                                    <div class="col-md-6 col-sm-6" style="position:relative;">
                                                        <select id="classId" name="classId" ng-model="classId"
                                                                ng-change="classSubject(classId)"
                                                                ng-options="cla.classId as
											cla.className for cla in classList" class="form-control input-md">
                                                            <option value="">Select</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-md-4 col-sm-4 control-label">SubjectName<span
                                                            style="color:red;">*</span></label>
                                                    <div class="col-md-6 col-sm-6" style="position:relative;">
                                                        <select id="subjectId" name="subjectId" ng-model="subject"
                                                                ng-change="topicQuestion(subject)"
                                                                ng-options="sub.subjectId as
											sub.subjectName for sub in subjectList" class="form-control input-md">
                                                            <option value="">Select</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="form-group" style="margin-top: 20px;" >
                                                    <label class="col-md-4 col-sm-4 control-label" for="">Questions List</label>
                                                    <div class="col-md-6 col-sm-6">
                                                        <div>
                                                            <div class="wrapper">
                                                                <div class="multiselect" style="width: 98%;">
                                                                    <div class="selectBox" ng-click="showCheckboxesq()">
                                                                        <select style="padding: 7px 0px; width: 100%;    ">
                                                                            <option>Select</option>

                                                                        </select>
                                                                        <div class="overSelectq"></div>
                                                                    </div>
                                                                    <div id="checkboxesq">
                                                                        <label ng-repeat="ques in questionList">
                                                                            <input type="checkbox"
                                                                                   multiple="multiple"
                                                                                   ng-click="selectQuestion(ques)"
                                                                                   ng-model="ques.assessmentId"
                                                                                   ng-change="getstd(ques);multipleChoiceList(ques.assessmentDetailsId)"
                                                                                   ng-value="ques.assessmentDetailsId" style="display: inline;width: 30px"/>{{ques.question}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Marks:{{ques.maxMarks}}</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 admission_border">
                                                    <table class="admission_table_1 table">
                                                        <tbody>


                                                        <tr ng-repeat="(key, value) in studentMap">
                                                            <td colspan="2">
                                                                <table class="table">
                                                                    <td colspan="2">
                                                                        <table class="table">
                                                                            Question Name:{{key}}
                                                                            <tr>
                                                                                <td>Student</td>
                                                                                <td ng-show="quesAnsType=='description'">Max Marks</td>
                                                                                <td ng-show="quesAnsType=='multiplechoice'">Answers</td>
                                                                                <td ng-show="quesAnsType=='trueorfalse'">Answers</td>


                                                                                <tbody>
                                                                                <tr ng-repeat="sb in value">
                                                                                    <td>{{sb.studentName}}</td>
                                                                                    <td ng-show="quesAnsType=='description'"><input type="text" ng-model="sb.marks" ng-change="validateMarks(sb)">
                                                                                    </td>
                                                                                    <td ng-show="quesAnsType=='multiplechoice'"><select id="quesans" name="quesans" ng-model="subject"
                                                                                                                                        ng-options="ans.question as
											ans.question for ans in quesAnswerList" class="form-control input-md">
                                                                                        <option value="">Select</option>
                                                                                    </select>
                                                                                    </td>
                                                                                    <td ng-show="quesAnsType=='trueorfalse'">
                                                                                        <select name="StatusText" id="StatusText" ng-model="StatusText"
                                                                                                ng-init="StatusText='Active'" class="form-control input-md">
                                                                                            <option value="Active">True</option>
                                                                                            <option value="InActive">InActive</option>
                                                                                        </select></td>
                                                                                    <!--<td>{{sb.maxMarks}}</td>-->
                                                                                    <!--<td><input type="text" ng-model="sb.marks" ng-change="validateMarks(sb)">-->
                                                                                    <!--</td>-->
                                                                                    <!--<td><textarea type="text"-->
                                                                                    <!--ng-model="sb.remarks"></textarea></td>-->
                                                                                </tr>
                                                                                </tbody>
                                                                        </table>
                                                                    </td>
                                                                    <!--<tr ng-repeat="(key, value) in studentMap">-->
                                                                        <!--<td>Student</td>-->
                                                                        <!--<td ng-show="quesAnsType=='description'">Max Marks</td>-->
                                                                        <!--<td ng-show="quesAnsType=='multiplechoice'">Answers</td>-->
                                                                        <!--<td ng-show="quesAnsType=='trueorfalse'">Answers</td>-->
                                                                        <!--&lt;!&ndash;<td>Marks</td>&ndash;&gt;-->
                                                                        <!--&lt;!&ndash;<td>Remarks</td>&ndash;&gt;-->
                                                                        <!--<tbody>-->
                                                                        <!--<tr ng-repeat="sb in value">-->
                                                                            <!--<td>{{sb.studentName}}</td>-->
                                                                            <!--<td ng-show="quesAnsType=='description'"><input type="text" ng-model="sb.marks" ng-change="validateMarks(sb)">-->
                                                                            <!--</td>-->
                                                                            <!--<td ng-show="quesAnsType=='multiplechoice'"><select id="quesans" name="quesans" ng-model="subject"-->
                                                                                        <!--ng-options="ans.question as-->
											<!--ans.question for ans in quesAnswerList" class="form-control input-md">-->
                                                                                <!--<option value="">Select</option>-->
                                                                            <!--</select>-->
                                                                            <!--</td>-->
                                                                            <!--<td ng-show="quesAnsType=='trueorfalse'">-->
                                                                            <!--<select name="StatusText" id="StatusText" ng-model="StatusText"-->
                                                                                    <!--ng-init="StatusText='Active'" class="form-control input-md">-->
                                                                                <!--<option value="Active">True</option>-->
                                                                                <!--<option value="InActive">InActive</option>-->
                                                                            <!--</select></td>-->
                                                                            <!--&lt;!&ndash;<td>{{sb.maxMarks}}</td>&ndash;&gt;-->
                                                                            <!--&lt;!&ndash;<td><input type="text" ng-model="sb.marks" ng-change="validateMarks(sb)">&ndash;&gt;-->
                                                                            <!--&lt;!&ndash;</td>&ndash;&gt;-->
                                                                            <!--&lt;!&ndash;<td><textarea type="text"&ndash;&gt;-->
                                                                                          <!--&lt;!&ndash;ng-model="sb.remarks"></textarea></td>&ndash;&gt;-->
                                                                        <!--</tr>-->
                                                                        </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="submit" class="btn btn-primary hi_btn" data-toggle="modal"
                                                            ng-disabled="isDisabled"
                                                            data-target=".print-me" ng-disabled="!form.$valid" id="submit"
                                                            ng-click="saveAssessment()">Save
                                                    </button>
                                                    <button type="button" class="btn btn-primary hi_btn" ng-click="removeAssSub()"
                                                            data-dismiss="modal">Close
                                                    </button>

                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>